{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Course List</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.duration }} weeks</td>
                <td>
                    <a href="{% url 'update_course' course.id %}">Edit</a> |
                    <a href="{% url 'delete_course' course.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'add_course' %}">Add New Course</a>
</div>
{% endblock %}
